In [1]:
# Importing necessary modules
import pandas_datareader.data as web
import pandas as pd

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [8]:
#Define what stocks (you can put as many as you want).
stocks = ['AAPL', 'MSFT', '^GSPC','GOOG','AMZN','TSLA', 'TWTR', 'FB', 'SBUX', 'COKE']

#Select time period you want your stock prices denoted by format YYYY-MM-DD.
start_date = '2015-01-01'
end_date = '2019-12-31'

#Select intrval for stock prices
# Daily --> 'd'
# Weekly ---> 'w'
# Monthly ---> 'm'
interval = 'd'

# Select what price you want. Adjusted closed is by default.
# Other possible prices:
# 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'
what_price = 'Adj Close'

In [9]:
stock_prices = pd.DataFrame(columns=stocks)
for stock in stocks:
    stock_data = web.get_data_yahoo(stock,start_date,end_date,interval=interval)
    stock_prices[stock] = stock_data[what_price]

In [10]:
stock_prices

                  AAPL        MSFT  ...       SBUX        COKE
Date                                ...
2015-01-02   99.945885   41.748566  ...  36.923927   87.174507
2015-01-05   97.130241   41.364658  ...  36.216637   86.524605
2015-01-06   97.139420   40.757530  ...  35.921936   85.932915
2015-01-07   98.501518   41.275364  ...  36.806049   86.456726
2015-01-08  102.286186   42.489609  ...  37.399979   87.475189
...                ...         ...  ...        ...         ...
2019-12-24  282.831299  156.515396  ...  87.614220  285.866119
2019-12-26  288.442780  157.798309  ...  87.178726  292.053711
2019-12-27  288.333313  158.086731  ...  87.228210  293.061676
2019-12-30  290.044617  156.724243  ...  86.545273  288.420990
2019-12-31  292.163818  156.833633  ...  87.020363  283.480896

[1258 rows x 10 columns]

In [12]:
# Calculate percent return of each stock
stock_returns = stock_prices.pct_change(fill_method='bfill')
stock_returns

                AAPL      MSFT     ^GSPC  ...        FB      SBUX      COKE
Date                                      ...
2015-01-02       NaN       NaN       NaN  ...       NaN       NaN       NaN
2015-01-05 -0.028172 -0.009196 -0.018278  ... -0.016061 -0.019155 -0.007455
2015-01-06  0.000094 -0.014677 -0.008893  ... -0.013473 -0.008137 -0.006838
2015-01-07  0.014022  0.012705  0.011630  ...  0.000000  0.024612  0.006096
2015-01-08  0.038422  0.029418  0.017888  ...  0.026658  0.016137  0.011780
...              ...       ...       ...  ...       ...       ...       ...
2019-12-24  0.000951 -0.000191 -0.000195  ... -0.005141  0.003287  0.005758
2019-12-26  0.019840  0.008197  0.005128  ...  0.013017 -0.004971  0.021645
2019-12-27 -0.000380  0.001828  0.000034  ...  0.001492  0.000568  0.003451
2019-12-30  0.005935 -0.008619 -0.005781  ... -0.017732 -0.007829 -0.015835
2019-12-31  0.007306  0.000698  0.002946  ...  0.004109  0.005489 -0.017128

[1258 rows x 10 columns]

In [7]:
# Save stock returns in an Excel file
stock_returns.to_excel('Stock_returns.xlsx')